/* Table of Contents
    S1. Header and Nav
        S1a. Navigation
    S2. General articles
    S3. About Me
*/

:root {
    --cat-1: #f8a7ef;
    --cat-2: #fff7dc;
    --text-1: #117788;
    --background-1: #a7f7db;
    --background-2: #6d34ad;
}

/* S1. Header and Nav */
header {
    background-color: var(--background-1);
    margin: 0;
    padding-bottom: 5px;
}

header h1 {
    color: var(--background-2);
    text-align: center;
    padding-top: 10px;
}

.portrait {
    width: 75%;
    margin: 0 auto;
}

.portrait img {
    max-width: 100%;
}

/* S1a. Navigation */
.nav-cats {
    display: flex;
}

.nav-cats ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}

.nav-cats li {
    width: 200px;
    height: 52px;
    background-image: url(./images/nav-kitty-1.png);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.nav-cats a {
    text-decoration: none;
    text-align: center;
    position: relative;
    right: -20px;
    font-size: 24px;
    bottom: -11px;
}

.nav-cats li:hover {
    background-image: url(./images/nav-kitty-2.png);
}

.nav-cats li:active {
    background-image: url(./images/nav-kitty-3.png);
}

/* S2. General Articles */
.article-header {
    background-color: var(--background-2);
    color: var(--background-1);
    padding-left: 5px;
}

/* S3. About Me */
.about-me {
    background-color: var(--cat-2);
    padding-bottom: 7px;
    margin: 0;
}

.about-me p {
    padding: 0 15px;
}